<!DOCTYPE html>
<html lang="ru">
<head>
  <$=require(`./inner-google${isDevServer ? '-dev-server' : ''}.html`) $>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= items[0].question %></title>
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename %>"  rel="canonical" />
</head>
<body>
  <$= require(`./inner-metrika${isDevServer ? '-dev-server' : ''}.html`)  $>

  <div class="page page_up">
    <header class="header header-up content">
      <a href="/" class="header__logo">
        <img class="header__logo-img" src="./images/header-logo-1.svg" alt="Лого Термоблок"/>
      </a>
      <div class="header__right">
        <$= require('./insets/asides/inner-header.html') $>
      </div>
    </header>
    <main class="content">
      <div class="flexburton__breadcrumbs">
        <a class="flexburton__breadcrumbs-link" href="/">Главная</a>
        <a class="flexburton__breadcrumbs-link" href="/faqs/">FAQS</a>
        <a class=" flexburton__breadcrumbs-link flexburton__breadcrumbs-link_type_here" href="<%= items[0].textId %>.html"><%= items[0].question %></a>
      </div>
      <section class="grid grid-cols-12 items-start pt-8 my-14 border-t border-primary-strokke1 mobile:block">
        <div class="col-span-3 row-span-2">
          <span class="upsubtitle">Часть задаваемые вопросы</span>
        </div>
        <h1 class="text-5xl text-blacktheme-white max-w-[771px] col-span-6" style="margin-top: 0;"><%= items[0].question %></h1>
        <article class="col-start-6 col-span-7 info__article-container overflow-y-auto">
            <div class="prose prose-termoblok prose-xl mvpc:prose-lg laptop:prose-base">
              <%= items[0].answer %>
              <% items.slice(1,).map((item) => { %>
                  <h2 class="text-3xl text-blacktheme-white"><%= items.question %></h2>
                  <%= items.answer %>
              <% }) %>
            </div>
        </article>
      </section>
    </main>
    <$= require('./insets/asides/inner-footer.html')  $>
  </div>
</body>
</html>
